@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    section{
        @apply py-[75px]
    }
}

@layer components{
    .container{
        @apply max-w-full w-[1440px] px-5 mx-auto
    }

    .btn{
        @apply bg-primaryColor py-[15px] px-[35px] rounded-[50px] text-white font-[600] mt-[38px]
    }
    
    .heading{
        @apply text-[44px] leading-[54px] font-[700] text-headingColor
    }

    .text_para{
        @apply text-[p18px] leading-[30px] font-[400px] text-textColor mt-[18px]
    }

    .header{
        @apply bg-[url('./assets/images/mask.png')] bg-no-repeat bg-center bg-cover w-full h-[100px] leading-[100px];
    }

    .hero__section{
        @apply bg-[url('./assets/images/hero-bg.png')] bg-no-repeat bg-center bg-cover
    }

    .form__label{
        @apply text-textColor font-semibold text-[16px] leading-7 mb-2;
    }

     .form__input{
        @apply w-full px-4 py-3 border border-solid border-headingColor focus:outline-none 
        focus:border-primaryColor text-[16px] leading-7 text-headingColor placeholder:text-textColor 
        cursor-pointer rounded-md;
    } 
}

@media only screen and(max-width: 1024px){
    .container{
        @apply w-full;
    }
    section{
        @apply py-[35px];
    }
}

@media only screen and(max-width: 768px){
.heading{
    @apply text-[26px] leading-[36px];
}

.text_para{
    @apply text-[16px] leading-7 mt-3;
}
}